<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="URL1" value="https://demoqa.com/text-box" />
	<add key="URL2" value="https://demoqa.com/login" />
	<add key="TestDataSheetPath" value="D:\Learning\Selenium\NUnit Testing\PageGenerator\PageGenerator\DataAccess\TestData.xlsx" />
</appSettings>